/* ProgressBar.css */

.progress-bar {
    max-width: 200px; /* Set the width of the progress bar */
    background-color: lightgray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
  }
  
  .progress-labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .progress-label {
    color: black;
  }
  .progress-label.active {
    color: green; /* Change the label color when active */
  }
  
  .progress-bar.Dispatched {
    background-color: red;
    height: 25%;
  }
  
  .progress-bar.ReachedHub1 {
    background-color: yellow;
    height: 50%;
  }
  
  .progress-bar.ReachedHub2 {
    background-color: orange;
    height: 75%;
  }
  
  .progress-bar.OutforDelivery {
    background-color: green;
    height: 100%;
  }
  